main {
   background: #e0e0e0;
   color: #1b1b1b;
}

header {
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-size: 40px;    
  text-align: center;
  background: #1b1b1b;
}

h1 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 5.5rem;
  text-align: center;
  color: #e0e0e0;
}

section {
  display: flex;
  width: 80%;
  
  margin: 2em auto;
}

#img-div {
  width: 50%;
   margin-left: auto;
   margin-right: auto;
  
}

img#image {
		max-width: 100%;
		display: block;
		height: auto;
    
}

article {
  width: 50%;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #1b1b1b;
  background: #e0e0e0;
}

h2 {
  margin: 0;
  font-size: 2rem; 
}